@charset "utf8";

/*Aqui posso por um comentario*/

/*
 escrever bloco de comentario
*/

 /* vamos criar um rest de pagina onde o css deve limpar as configurações*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* id - dia a dia e class = algo especial roupa de festa*/
/* body é uma class*/
body
{
    background-color: #76adec;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: auto;
}

